body {
    margin: 0;
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    height: 100%;
}
#textBox {
    position: fixed;
    z-index: 210;
    left: 25%;
    top: 75%;
    font-family: arial, sans-serf;
    padding: 50px 500px;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
}
#button {
    position: fixed;
}
#gold {
    position: fixed;
    z-index: 210;
    left: 90%;
    top: 5%;
    font-family: arial, sans-serf;
    padding: 30px 50px;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
}
#redStaffStats {
    position: fixed;
    z-index: 210;
    left: 90%;
    top: 15%;
    font-family: arial, sans-serf;
    padding: 30px 50px;
    background: #fff;
    border: 2px solid #ddd;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
    border-radius: 10px;
}
